.intro {
    background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.7)), url('../img/mainBackgroundP.jpg') no-repeat center;
    background-size: cover;
    padding: 80px 0 120px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.intro_info {
    position: relative;
}

.intro_info h1 {
    display: inline-block;
    font-size: 2rem;
    font-weight: 800;
}

.intro_info p {
    font-size: 1.4rem;
    margin-bottom: 40px;
    color: #ffffff;
}
.intro_info p:nth-child(2):before {
    display: block;
    content: '';
    width: 32px;
    height: 3px;
    background-color: #ffffff;
    margin: 3rem auto;
    border-radius: 4px;
}

.setaDown {
    position: absolute;
    bottom: -28%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.2);
    animation: 1s ease-in-out 2s setaDown infinite alternate;
}

@keyframes setaDown {
    0% {
        bottom: -28%;
    }
    100% {
        bottom: -30%;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #fff;
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 21rem;
    }
}

@media (min-width: 768px) {
    .intro_info h1 {
        border-right: 2px solid #fff;
        white-space: nowrap;
        animation: blinkCursor .7s steps(40) infinite normal, typing 4s steps(30) 1s normal both;
        overflow: hidden;
    }
}

@media (min-width: 900px) {
    .intro {
        padding: 120px 0 140px 0;
    }

    .intro_info h1 {
        font-size: 3rem;
    }

    .intro_info p {
        font-size: 2rem;
    }

    .intro_info p:nth-child(2):before {
        margin: 4rem auto;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 31rem;
        }
    }
}

@media (min-width: 1024px) {
    .intro {
        padding: 160px 0 160px 0;
    }

    .intro_info h1 {
        font-size: 3.2rem;
    }

    .intro_info p {
        font-size: 2.4rem;
        margin-bottom: 60px;
    }

    .intro_info p:nth-child(2):before {
        margin: 4.4rem auto;
    }

    .intro_info .button {
        font-size: 1.4rem;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 33rem;
        }
    }
}


