#sobre {
    padding: 40px 0 80px 0;
}

#sobre img {
    box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 20%);
}

.sobre h2::after {
    display: block;
    content: '';
    width: 32px;
    height: 3px;
    background-color: #4DCBBC;
    border-radius: 4px;
    transform: translateY(-50%);
}

.sobre_conteudo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.sobre_conteudo img {
    max-width: 460px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .sobre_conteudo {
        grid-template-columns: auto 1fr;
        align-items: center;
    } 
}